tutorial::migration/6-theming.asciidoc

overflow: hidden;
margin: 0;
padding: 0;
border: 0;

/* tag::shared-css[] */
h1 {
  font-weight: 300;
  font-size: 40px;
}

h2 {
  font-weight: 300;
  font-size: 32px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}
/* end::shared-css[] */
